* {-webkit-font-smoothing: antialiased;}
a {
	color: #04aeda;
}
body {
	font-weight: 200;
	background-color: #000;
	/*background-image: linear-gradient(to right, rgba(4,174,218,0) 80%, rgba(4,174,218,1));*/
}
/* Bootstrap Overrides */
.btn {
	font-weight: 200;
}
h1 {
	font-weight: 300;
}
h3 {
	font-weight: 400;
}
h4 {
	font-weight: 300;
}
label {
	font-weight: 400;
}
th {
	font-weight: 400;
}
/* End Bootstrap Overrides */

body.live-view {
	background-color: #000;
	/*color: #CC7F02;*/
	color: #fff;
}
.trans-badge {
	padding:3px;
	background-color:#dedede;
	border:1px solid #c7c7c7;
	margin-right:2px;
}
.test-border {
	border: 1px black solid;
}

.modal-field {
	margin-bottom: 10px;
}

.error {
	background: #f2dede;
}

.centered {
	text-align: center;
	vertical-align: middle;
}

.live-override {
	font-weight: 200;
}

.temp-reading {
	font-size: 14em;
}

.humidity-reading {
	font-size: 3em;
}

.live-dropdown {
    background: #000;
    /*color: #f2a426;*/
    color: #fff;
    border: #000;
}

.loader-center {
	margin: auto;
	display: block;
	transform: rotate(90deg);
}

.loader-main {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loader-small {
	height: 1em;
	width: 1em;
}

#locSelect {
	font-size: 1.3em;
}

#systemInfo {
	/*background:#CC7F02;
	color:#000;
	border-color: #875d1b;*/
	background:#212121;
	color:#fff;
	border-color: #2d2d2d;
}

.highlight { background-color: yellow }

.highlightInfo {
	/*color: #fff;
	font-weight: bold;
	font-size: 1.2em;*/
	color: #d9534f;
	font-size: 1.1em;
	font-weight: 300;
}

.highlightTime {
	color: #d9534f;
	font-size: 1.1em;
	font-weight: 300;
}

.infoTitle {
	font-size: 0.7em;
	/*color: #666;*/
	color: #868686;
}

.infoSubtext {
	font-size: 0.75em;
}

#dashboardTable tbody td {
	font-size: 5vh;
	vertical-align: middle;
	/*border-top: 1px #3d3d3d solid;*/
	border-top: 0;
	padding-top: 20px;
}
#dashboardTable tfoot td {
	font-size: 2vh;
	/*border-top: 1px #804F01 solid;*/
	color: #868686;
	border-top: 1px #868686 solid;
}

#forecastRow {
	margin-top: 20px;
}
.forecast {
	text-align: center;
}
.forecastData {
	height: 30px;
}
.day {
	font-size: 0.9em;
}
.forecastIcon {
	height: 120%;
}
.temp {
	padding: 0;
	font-size: 1.4em;
	height: 100%;
}
.date {
}
.icon {
	padding: 0;
	height: 100%;
}
.weatherDesc {
	font-size: 0.8em;
}


/** Bootstrap Dark Modal Styles **/
.modal-open .modal, .btn:focus {
	outline: none !important;
}

.modal.dark {
	background-color: rgba(45, 48, 50, 0.6);
	color: #fff;
}
.modal.dark .modal-body {
	background: #40464b;
}

.modal.dark .modal-header {
	background: #2d3032;
	border-bottom: 1px solid #2a2c2e;
}
.modal.dark .modal-header h1, .modal.dark .modal-header h2, .modal.dark .modal-header h3, .modal.dark .modal-header h4 {
	color: #ccc;
}

.modal.dark .modal-footer {
	background: #2d3032;
	border-top: 1px solid #2a2c2e;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
.toggle.ios .toggle-handle { border-radius: 20rem; }
.slow  .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }