body.live-view {
	background-color: #000;
	color: #CC7F02;
}

.test-border {
	border: 1px black solid;
}

.modal-field {
	margin-bottom: 10px;
}

.error {
	background: #f2dede;
}

.centered {
	text-align: center;
	vertical-align: middle;
}

.temp-reading {
	font-size: 14em;
}

.humidity-reading {
	font-size: 3em;
}

.live-dropdown {
    background: #000;
    color: #f2a426;
    border: #000;
}

#locSelect {
	font-size: 1.3em;
}

#systemInfo {
	background:#CC7F02;
	color:#000;
	border-color: #875d1b;
}

.highlightInfo {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
}

.highlightTime {
	color: #fff;
	font-weight: bold;
}

.infoTitle {
	font-size: 0.7em;
	color: #666;
}

.infoSubtext {
	font-size: 0.75em;
}

#dashboardTable tbody td {
	font-size: 5vh;
	vertical-align: middle;
	/*border-top: 1px #3d3d3d solid;*/
	border-top: 0;
	padding-top: 20px;
}
#dashboardTable tfoot td {
	font-size: 2vh;
	border-top: 1px #804F01 solid;
}

#forecastRow {
	margin-top: 20px;
}
.forecast {
	text-align: center;
}
.forecastData {
	height: 30px;
}
.day {
	font-size: 0.9em;
}
.forecastIcon {
	height: 120%;
}
.temp {
	padding: 0px;
	font-size: 1.4em;
	height: 100%;
}
.date {
}
.icon {
	padding: 0px;
	height: 100%;
}
.weatherDesc {
	font-size: 0.8em;
}